<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Introduction</h2>
<div class="summary">
    <p>With over a decade of experience in managing technology projects and people, 
				I've seen the rise of mobile, social and cloud computing. My diverse, global experience 
				has taught me to take a practical approach to building systems and processes that work for 
				people, instead of the other way around.</p>
</div><!--//summary-->
</section><!--//section-->
