<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>

  <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Product Manager - Pure as-a-Service</h3>
                            <div class="time">2020 - Current</div>
                        </div><!--//upper-row-->
                        <div class="company">Pure Storage - Mountain View, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>I help grow Pure as-a-Service.
</p>
                    </div><!--//details-->
                </div><!--//item-->              
  
  <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Product Manager - Cloud Data Protection</h3>
                            <div class="time">2020</div>
                        </div><!--//upper-row-->
                        <div class="company">iland Cloud - Houston, TX</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>I defined and grew both BaaS (Backup as a Service) and DRaaS (Disaster Recovery as a Service) portfolios by understanding business and technical aspects of the product, user requirements, trends, competitive landscape and refining the balance between business needs and product/technology delivery. This included working with multidisciplinary teams to drive a successful formulation of product definition, strategic business plans, and optimal processes that adds value to iland’s services to impact the marketplace.
</p>
                    </div><!--//details-->
                </div><!--//item-->
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Product Manager - BaaS</h3>
                            <div class="time">2019 - 2020</div>
                        </div><!--//upper-row-->
                        <div class="company">iland Cloud - Houston, TX</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>I managed iland’s cloud backup and cloud storage services from concept to design, cost, and promotion, including the operational and technical processes involved in quoting/sizing, deployment, and support.</p>
                    </div><!--//details-->
                </div><!--//item-->
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Product Manager</h3>
                            <div class="time">2016 - 2018</div>
                        </div><!--//upper-row-->
                        <div class="company">Expedient - Pittsburgh, PA</div>
                    </div><!--//meta-->
                    <div class="details">
                      <ul>
                        <li>Product development and release management.</li>
                        <li>Market research.</li>
                        <li>Portfolio roadmapping.</li>
                        <li>Sales enablement.</li>
                      </ul>
                    </div><!--//details-->
                </div><!--//item-->
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Product Manager</h3>
                            <div class="time">2015 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Management Science Associates, Inc. - Pittsburgh, PA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                          <li>Performed market research and financial modeling for new products/services.</li>
                          <li>Earned Pragmatic Marketing certifications.</li>
                          <li>Initiated new SAN replication service for Pittsburgh market.</li>
                          <li>Improved data center customer experience.</li>
                          <li>Led project to POC and migrate from Veritas Netbackup to Commvault</li>
                          <li>Led project to consolidate monitoring systems onto SevOne</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Information Systems Manager</h3>
                            <div class="time">2012 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Management Science Associates, Inc. - Pittsburgh, PA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                          <li>Led next-generation corporate intranet project.</li>
                          <li>Represented IT in company website refresh project.</li>
                          <li>Migrated MSA.com to Amazon Web Services.</li>
                          <li>Represented IT in next-generation product development built on MapR Apache Hadoop.</li>
                          <li>Managed five FTE positions that are responsible for relationships between IT division and business units.</li>
                          <li>Planned and managed annual user satisfaction survey.</li>
                          <li>Managed annual IT division internship program.</li>
                          <li>Led solution development for external sales opportunities.</li>
                        </ul>
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">MIS Advisor</h3>
                            <div class="time">2009 - 2011</div>
                        </div><!--//upper-row-->
                        <div class="company">Voluntary Service Overseas - India</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                          <li>Managed participatory impact measurement project.</li>
                          <li>Managed SMS e-governance project.</li>
                          <li>Migrated to new web hosting provider & set up Google Apps.</li>
                          <li>Implemented organization Linux server</li>
                          <li>Created standard data collection forms in Word</li>
                          <li>Implemented databases in Django, Access, and Excel.</li>
                          <li>Trained staff in Excel, Access, and MIS concepts.</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Technical Coordinator</h3>
                            <div class="time">2008 - 2009</div>
                        </div><!--//upper-row-->
                        <div class="company">Management Science Associates, Inc. - Pittsburgh, PA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                          <li>Led research and evaluation of e-mail archiving products.</li>
                          <li>Wrote proposals in response to client RFPs.</li>
                          <li>Coordinated technical resources to meet ongoing needs of business units.</li>
                        </ul>
                        
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                  <div class="meta">
                      <div class="upper-row">
                          <h3 class="job-title">IT Manager</h3>
                          <div class="time">2004 - 2008</div>
                      </div><!--//upper-row-->
                      <div class="company">University of Pittsburgh - Pittsburgh, PA</div>
                  </div><!--//meta-->
                  <div class="details">
                      <ul>
                        <li>Chairperson of school-wide IT committee. Used committee budget of $180,000 to select and implement the following projects:
                        <ul>
                          <li>Training to over 100 staff via IT training program.</li>
                          <li>Desktop backup to over 90 PCs via storage-as-a-service vendor.</li>
                          <li>Shared VMware virtual server hosting.</li>
                        </ul></li>
                        <li>Managed several Dean’s Office projects:
                        <ul>
                          <li>School website refresh.</li>
                          <li>Centralized financial and personnel system.</li>
                        </ul></li>
                        <li>Managed IT operations for department with 120 staff.</li>
                        <li>Led development team in planning and implementing a .NET billing web app and an online ordering web app</li>
                      </ul>

                  </div><!--//details-->
                </div><!--//item-->
  
            </section><!--//section-->
